
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Whitney,
            Helvetica Neue,
            Helvetica,
            Arial,
            sans-serif;
        ;
    
    background-color: #1e2124;
    background-image: url("../imgs/banner.png");
}
a {
    text-decoration: none;
}
li {
   
    list-style: none;
}





