@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat",
        sans-serif;/* Whitney,
            Helvetica Neue,
            Helvetica,
            Arial,
            sans-serif; */
        ;
    
    background-color: #001220;
    background-image: url("../imgs/banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    text-decoration: none;
}
li {
   
    list-style: none;
}

.head {
    height: 100vh;
}

.features {
    margin-top: 3vh;
    height: 100vh;
}

.stats {
    height: 100vh;
}





