.hero h1{
    text-align: left;
    margin-left: 3%;
    font-size: 50px;
    color:#f7f4ff;
/*     height: 100px; */
    margin-top: 10vh;
}

.hero p{
    text-align: left;
    margin-left: 3%;
    font-size: 30px;
    color: #cac8d1;
  /*   height: 100px; */
    margin-top: 2vh; 
}

.help {
    transform: rotate3d(0, 1, 0, 40deg);
}


@media (max-width: 768px) {
    .hero h1 {
            text-align: left;
        font-size: 30px;
        width: 90%;
    }

    .hero p {
        font-size: 20px;
        width:90%;
    }

}